body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
/* Header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.main-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.header-logo .logo-part {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: flex-start;
  flex-direction: row;
}
.nav-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.contact-info {
  font-style: normal;
  margin-left: auto;
}
.contact-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contact-link {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

  padding: 24px 0;
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
/* Hero section */

.hero-container {
  background: #2e2f42;
  padding: 188px 0;
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.page-title {
  max-width: 496px;
  opacity: 0.4;
  margin-bottom: 46px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
}

.order-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  border: none;
  background-color: #4d5ae5;
  padding: 16px 32px;
  gap: 10px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  display: block;
  text-align: center;
  margin-inline: auto;
}
.order-button:hover,
.order-button:focus {
  background: #404bbf;
}
/* end Hero section */

/* Feature section */

.feature-container {
  width: 1128px;
  background-color: #fff;
  padding: 120px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visually-hidden {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}
.features-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.features-item {
  width: calc((100% - 3 * 24px) / 4);
}
.features-title {
  margin-bottom: 8px;
}

.features-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 16px;
  color: #434455;
}
/* end feature section */

/* Our team section */

.team-container {
  margin: 0 auto;
  width: 1440px;
}
.team-section {
  background: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-member {
  width: calc((100% - 3 * 24px) / 4);
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.team-member img {
  display: block;
  width: 100%;
  border-radius: 0 0 4px 4px;
}

.member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.member-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
/* end Our team section */

/* Our portfolio section */
.portfolio-container {
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
}

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  width: 218px;
  white-space: nowrap;
  margin: 0 auto;
}
.portfolio-list {
  gap: 24px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 72px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-top: 8px;
  padding-bottom: 32px;
}

img {
  padding-bottom: 32px;
}

/* end Our portfolio section */

/* Footer */

.footer-box {
  background: #2e2f42;
  padding: 100px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.accent {
  color: #f4f4fd;
}
.footer-text {
  max-width: 264px;

  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  text-align: justify;
}
.footer-name {
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
